<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Homepage</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Dark mode styling */
    body.dark-mode {
      background-color: #333;
      color: #fff;
    }
    img{
      width: 100%;
      margin-left: 0!important;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">WebKat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>

    </ul>
  </div>
</nav>
<h1 class="text-center mt-3">Visualization Tool for Web Knowledge Acquired Tasks</h1>
<div class="container mt-5 ml-5">
    <p>Welcome to our Ontology Visualization Tool Framework. Understanding complex relationships and connections within vast sets of information is crucial in today's data-driven world. </p>
      <p>Our Knowledge Graph Visualization Tool empowers users to explore, analyze, and comprehend intricate networks of interconnected data in an intuitive and interactive manner.</p>
  <hr>
  <h2>Visualize Your Knowledge Graph</h2>
  <p>With our tool, you can transform raw data into dynamic visual representations.</p>
    <img src="../static/images/graph.png" alt="Visualized Knowledge Graph">
  <hr>
  <h2>Build and Execute Queries</h2>
  <p>
    Navigate through your knowledge graph effortlessly by constructing and executing queries. Whether you're seeking specific relationships or exploring broader connections,
    our intuitive query builder allows you to refine your search criteria and retrieve relevant information efficiently.
  </p>
  <hr>
  <h2>Highlight your Classes</h2>
  <p>
    Highlighting key nodes and relationships within your knowledge graph provides valuable insights and facilitates deeper analysis.
    Our tool enables you to emphasize important elements, making it easier to identify patterns, trends, and dependencies.
  </p>
</div>

<!-- Bootstrap JS and jQuery (optional for toggling dark mode) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
