<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OWLVisualizer</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        #mynetwork {
            width: 100%;
            height: 800px;
            border: 1px solid lightgray;
        }
        #graphContainer {
    width: 100%;
    height: 400px; /* Adjust height as needed */
}

    </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">OWLVisualizer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <<form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="fileInput">
    <button type="submit" id="uploadBtn">Upload</button>
</form>

            </li>
        </ul>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            QueryBuilder
        </button>

        <!-- Button to trigger custom modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customModal">
            Custom Modal
        </button>

<!-- INFERENCE QUERY -->
<div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customModalLabel">Inference Query</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="taskSelect">Tasks</label>
                    <select class="form-control" id="taskSelect">

                    </select>
                </div>
                <div class="form-group">
                    <label for="ingredientSelect">Ingredients</label>
                    <select class="form-control" id="ingredientSelect">

                    </select>
                    <button type="button" class="btn btn-sm btn-secondary mt-2" id="addIngredientField">+</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- New Modal for Graph and Table -->
<div class="modal fade" id="graphTableModal" tabindex="-1" role="dialog" aria-labelledby="graphTableModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="graphTableModalLabel">Graph and Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
<div class="modal-body">
    <div id="graphContainer"></div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col" style="width: 10%;">Step</th> <!-- Adjust width as needed -->
                <th scope="col" style="width: 55%;">Action
                <th scope="col" style="width: 35%;">Inference</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <!-- Table rows will be dynamically added here -->
        </tbody>
    </table>
</div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

        <div class="container ">
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control mr-sm-2" id="autocompleteInput" placeholder="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</nav>
<!-- QUERY BUILDER -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Query Builder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <select class="custom-select custom-select-sm" id="select1" onchange="showSelectFields()">
                        </select>
                    </div>
                    <div class="col">
                        <select class="custom-select custom-select-sm d-none" id="select2"
                                onchange="showSelectFields()"></select>
                    </div>
                    <div class="col">
                        <select class="custom-select custom-select-sm d-none" id="select3"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="mynetwork"></div>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<script src="/static/js/graphviz.js"></script>
<script src="/static/js/query_builder.js"></script>

<script>


    document.addEventListener('DOMContentLoaded', function () {
        const select1 = document.getElementById('select1');
        const select2 = document.getElementById('select2');
        const select3 = document.getElementById('select3');
        if (select1) {
            select1.addEventListener('click', function () {
                const selectedOption = select1.value;
                populate_suggestions_triple(selectedOption, 1);
            });
        }
        if (select2) {
            select2.addEventListener('click', function () {
                const selectedOption = select2.value;
                populate_suggestions_triple(selectedOption, 2);
            });
        }

        if (select3) {
            select3.addEventListener('click', function () {
                const selectedOption = select3.value;
                populate_suggestions_triple(selectedOption, 3);
                console.log(selectedOption)
            });
        }

        const autocompleteInput = document.getElementById('autocompleteInput');
        if (autocompleteInput) {
            autocompleteInput.addEventListener('input', function () {
                // Hier kannst du weitere Aktionen für die Eingabe durchführen
                console.log('Input changed:', autocompleteInput.value);
            });
        }
    });

// Call this function whenever you want to wipe the graph

    document.addEventListener('DOMContentLoaded', function () {
        // Function to handle form submission
        document.getElementById('uploadForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent default form submission
            const formData = new FormData(this); // Create FormData object
            fetch('/upload', { // Send POST request to server
                method: 'POST',
                body: formData
            })
            .then(response => response.json()) // Parse response as JSON
            .then(data => {
                console.log(data); // Log response data
                if (!data.error) {


                    viz_graph(); // Call viz_graph again if needed

                }
            })
            .catch(error => console.error('Error:', error)); // Log any errors
        });


    });


document.addEventListener('DOMContentLoaded', function () {
    // Verify that the graphContainer exists
    const container = document.getElementById('graphContainer');
    if (!container) {
        console.error("Graph container not found!");
        return;
    }

    // Initialize the graph
    const data = {
        nodes: [],
        edges: []
    };
    const options = {
        edges: {
            color: {
                inherit: false
            }
        }
    }; // Customize graph options if needed
    const network = new vis.Network(container, data, options);


    function updateGraphAndTable(graphData, tableData) {
        // Update graph
        const container = document.getElementById('graphContainer');
        if (!container) {
            console.error("Graph container not found!");
            return;
        }

        const data = {
            nodes: graphData.nodes,
            edges: graphData.edges
        };
        const options = {
            edges: {
                color: {
                    inherit: false
                }
            }
        }; // Customize graph options if needed
        const network = new vis.Network(container, data, options);

        // Update table
        const tableBody = document.getElementById('tableBody');
        tableBody.innerHTML = ''; // Clear previous content
        tableData.forEach(rowData => {
            const row = document.createElement('tr');
            row.innerHTML = `
            <td>${rowData.col1}</td>
            <td>${rowData.col2}</td>
            <td>${rowData.col3}</td>
        `;
            tableBody.appendChild(row);
        });

        // Show the modal after a short delay to ensure the graph is rendered properly
        setTimeout(function () {
            $('#graphTableModal').modal('show');
        }, 100);
    }

    jQuery(document).ready(function ($) {
        // Function to fetch and populate tasks
        $.ajax({
            url: '/task_ingredients',
            type: 'GET',
            success: function (data) {
                var taskSelect = $('#taskSelect');
                $.each(data.tasks, function (index, task) {
                    taskSelect.append($('<option>', {
                        value: task,
                        text: task.split("#")[1]
                    }));
                });
                var ingredientSelect = $('#ingredientSelect');
                $.each(data.ingredients, function (index, ingredient) {
                    ingredientSelect.append($("<option>", {
                        value: ingredient,
                        text: ingredient.split("#")[1]

                    }));
                });
            }
        });
    });


    document.getElementById('addIngredientField').addEventListener('click', function () {
        var originalSelect = document.getElementById('ingredientSelect');
        var newSelect = originalSelect.cloneNode(true);
        newSelect.id = 'ingredientSelect' + Math.floor(Math.random() * 1000); // Generate unique ID for the new select
        originalSelect.parentNode.appendChild(newSelect);
    });
    $(document).on('click', '#customModal .modal-footer .btn-primary', function () {
        var task = $("#taskSelect").val();
        console.log("Task:", task);

        // Retrieve selected values from all ingredient select fields
        var ingredients = [];
        $('.modal-body .form-group select').each(function () {
            var ingredient = $(this).val();
            if (ingredient && ingredient !== task) {
                ingredients.push(ingredient);
            }
        });

        // Log the ingredients array to check if task is included
        console.log("Ingredients:", ingredients);

        // Create a data object to send to the backend
        var data = {
            task: task,
            ingredients: ingredients
        };

        // Send an AJAX POST request to your Flask backend
        $.ajax({
            type: "POST",
            url: "/data",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (response) {
                // Handle the response from the server
                const graphData = response.graphData;
                const tableData = response.tableData;
                updateGraphAndTable(graphData, tableData);
            },
            error: function (err) {
                // Handle errors if any
                console.error('There was a problem fetching data:', err);
            }
        });
    });
});




</script>

</body>
</html>