<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OWLVisualizer</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        #mynetwork {
            width: 100%;
            height: 800px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">OWLVisualizer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <div class="d-flex flex-grow-0"> <!-- Hier werden die Buttons links ausgerichtet -->
                <div class="btn-group mr-2" role="group" aria-label="Basic example">
                    <button class="btn btn-primary" type="button" style="background-color: #274C77;">Load Ontology
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
                            style="background-color: #274C77;">QueryBuilder
                    </button>
                </div>
            </div>
            <form class="form-inline flex-grow-1 justify-content-center">
                <!-- Hier wird die Suchleiste in der Mitte positioniert -->
                <div class="input-group">
                    <input id="searchBar" type="text" class="form-control" list="datalistOptions" size="40"
                           placeholder="Search for class or instance">
                    <datalist id="datalistOptions">
                    </datalist>
                    <div class="input-group-append">
                        <button class="btn btn-light" id="searchButton" type="button"><i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="d-flex flex-grow-0"> <!-- Hier wird der Button rechts ausgerichtet -->
                <button type="submit" class="btn btn-outline-light">
                    <i class="bi bi-justify"></i>
                </button>
            </div>
            <div class="dropdown" id="suggestionsDropdown">
                <div class="dropdown-menu" aria-labelledby="searchBar">
                    <!-- Hier werden die Vorschläge angezeigt -->
                </div>
            </div>
        </div>
    </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Query Builder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="query-builder-body">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> General</h4>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-evenly" id="query-builder-select-row"
                             onselect="showSelectFields(this)">
                            <div class="col">
                                <select class="custom-select custom-select-sm" id="query-builder-select1"
                                        title="Choose a subject"
                                        onclick="populate_suggestions_triple(this, 1);"
                                        onchange="selectedValue(this, 1)"></select>
                            </div>
                            <div class="col">
                                <select class="custom-select custom-select-sm d-none"
                                        id="query-builder-select2"
                                        title="Choose a predicate"
                                        onclick="populate_suggestions_triple(this, 2);"
                                        onchange="selectedValue(this, 2)"></select>
                            </div>
                            <div class="col">
                                <select class="custom-select custom-select-sm d-none"
                                        id="query-builder-select3"
                                        title="Choose an object"
                                        onclick="populate_suggestions_triple(this, 3);"
                                        onchange="selectedValue(this, 3)"></select>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary invisible" id="query-builder-add" title="Add"
                                        onclick="sendSelectedValues()"
                                >+
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary invisible" id="query-builder-run" onclick="runAndOpen()">
                    Run
                </button>
            </div>
        </div>
    </div>
</div>


<div id="mynetwork"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/static/js/graphviz.js"></script>
<script src="/static/js/query_builder.js"></script>
<script src="/static/js/utility.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

<script>
    function runAndOpen() {
        window.open('/query_builder_redirect', '_blank');
        $('#exampleModalCenter').modal('hide');
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        vizGraph();

        $('#exampleModalCenter').on('hidden.bs.modal', function (e) {
            clearSelectedOptions();
            fetchedData = null;
        });

        $('#exampleModalCenter').on('shown.bs.modal', function () {
            const modalBody = document.getElementById("query-builder-body");
            const button = document.getElementById("query-builder-add");
            const row = document.getElementById("query-builder-select-row");
            row.addEventListener("change", function () {
                showSelectFields(this);
            });
            button.addEventListener("click", function () {
                let groupName = getTripleType(modalBody, row);
                let groupedTriples = document.getElementById(groupName);
                if (groupedTriples === null) {
                    groupedTriples = createGroupedTripleCard(modalBody, groupName);
                }
                transferInputToGroup(row, groupedTriples);
            });
        });
    });
</script>
</body>
</html>
